@typeparam T
@inherits HandRenderComponent

<table>
    <GridColgroup DataGridModel="DataGridModel" />

    <thead>
        <tr>
            @if (DataGridModel.Rows.SelectableRowMode == SelectableRowMode.Multiple)
            {
                <th class="selector">&nbsp;</th>
            }

            @if (DataGridModel.Rows.ShowDetail)
            {
                <th class="expander fixed">&nbsp;</th>
            }

            @foreach (var column in DataGridModel.Columns.Visibilities)
            {
                <HeaderColumn DataGridModel=DataGridModel
                          ColumnModel=column />
            }
            <td class="compensator">&nbsp;</td>
        </tr>
    </thead>
</table>
