@using Al.Components.Blazor.DataGrid.Model.Enums
@inherits HandRenderComponent

<table>
    <GridColgroup DataGridModel="DataGridModel" />

    <thead>
        <tr>
            @if (DataGridModel.Rows.SelectableRowMode == SelectableRowMode.Multiple)
            {
                <th class="selector">&nbsp;</th>
            }

            @if (DataGridModel.Rows.ShowDetail)
            {
                <th class="expander fixed">&nbsp;</th>
            }

            @foreach (var column in DataGridModel.Columns.FrozenLeft)
            {
                <HeaderColumn DataGridModel=DataGridModel
                          ResizeArea=ResizeArea
                          ColumnNode=column />
            }

            @foreach (var column in DataGridModel.Columns.Frozenless)
            {
                <HeaderColumn DataGridModel=DataGridModel
                          ResizeArea=ResizeArea
                          ColumnNode=column />
            }

            @foreach (var column in DataGridModel.Columns.FrozenRight)
            {
                <HeaderColumn DataGridModel=DataGridModel
                          ResizeArea=ResizeArea
                          ColumnNode=column />
            }
            <td class="compensator">&nbsp;</td>
        </tr>
    </thead>
</table>
