/*.column-header-content {
    display: grid;
    overflow: hidden;
    padding: 5px 10px;
}*/

.sort {
    display: none;
    padding: 0 2px;
}

    .sort.show {
        display: block;
    }

.sortable {
    cursor: pointer;
}


.column-header {
    border: 1px solid black;
    overflow: hidden;
}

.column-header-inner {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto var(--resizer-width);
}

.column-header-content {
    overflow: hidden;
    text-overflow: clip;
}

.resizer:hover {
    background-color: blue;
}
