@inherits HandRenderComponent
@implements IDisposable

<Resize Tag="th"
        ResizeArea=ResizeArea
        MinWidth=ColumnModel.MinWidth
        Enable=ColumnNode.Item.Resizable
        OverClass="over-column-resizer"
        OnResizeStart=OnResizeStartHandler
        OnResizeEnd=OnResizeEndHandler
        ResizeBorder=_resizeBorder
        StartWidth=ColumnNode.Item.Width
        @ref=ResizeComponent>
    <div class="@_class"
         style="grid-template-columns: @_gridTemplateColumns"
         @onclick=ClickSortHandler
         @onmousemove=OnMouseMoveHeaderHandler
         @onmouseout=OnMouseOutHeaderHandler
         @onmouseout:stopPropagation>
        <div class="column-header-content">
            @if (ColumnNode.Item.HeaderComponentTypeName != null)
            {
                <DynamicComponent Type=headerComponentType
                              Parameters=headerComponentParameters />
            }
            else
            {
                @(ColumnNode.Item.Title ?? ColumnNode.Item.UniqueName)
            }
        </div>
        @if (ColumnNode.Item.Sortable)
        {
            <span class="order @(ColumnNode.Item.Sort == null ? "" : ("show " + (ColumnNode.Item.Sort == SortDirection.Ascending ? "asc" : "desc")))">
                @if (ColumnNode.Item.Sort == SortDirection.Ascending)
                {
                    <span>&#8593;</span>
                }
                else if (ColumnNode.Item.Sort == SortDirection.Descending)
                {
                    <span>&#8595;</span>
                }
            </span>
        }
    </div>
</Resize>
