@using Al.Components.Blazor.DataGrid.Data.Header
@using Al.Components.Blazor.DataGrid.Data

@inherits HandRenderComponent


<div class="al-data-grid">
    <Caption />
    <Panel />
    <Data DataGridModel=_model/>
    <Paginator />
    <Footer />
</div>
