@using Al.Components.Blazor.DataGrid.Header

@typeparam T
@inherits HandRenderComponent
@implements IDisposable


<CascadingValue Value="_model.Columns.All">
    @Columns
</CascadingValue>

@if(_columnsAdded)
{
    <div class="al-data-grid">
        <GridHeader T=T
                    DataGridModel=_model />
    </div>
}
