@using Al.Components.Blazor.DataGrid.Data.Header
@using Al.Components.Blazor.DataGrid.Data

@namespace Al.Components.Blazor
@inherits HandRenderComponent


@if (_columnsAdded)
{
    <div class="al-data-grid">
        <Caption />
        <Panel />
        <div class="data">
            <Resizer
                 DataGridModel=_model />
            <GridHeader
                    DataGridModel=_model />
            <Body />
            <div class="total"></div>
        </div>
        <Paginator />
        <Footer />
    </div>
}
